* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
  background-color: transparent;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: transparent;
}

.contact-us {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.anchor-btn {
  border: none;
  background-color: transparent;
}
.icon {
  color: white;
  width: 20px;
  height: 20px;
  margin: 20px;
}
